.forgotPasswordBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 250px;
  margin-top: 50px;
}

.forgotPasswordFooter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
