.burgerConstructorContainer {
  margin: 100px 8px 0 100px;
}

.ingredientBlock {
  display: flex;
  align-items: center;
}

.ingredientItem {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #1c1c21;
  border-radius: 80px;
  margin: 16px 0 0 16px;
  padding: 16px 24px;
  width: -webkit-fill-available;

  &.ingredientFirstItem {
    border-radius: 65px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  &.ingredientLastItem {
    border-radius: 25px;
    border-bottom-right-radius: 65px;
    border-bottom-left-radius: 65px;
  }
}

.checkoutSection {
  display: flex;
  align-items: center;
  justify-content: end;
  margin: 40px 0;

  .totalPrice {
    display: flex;
    align-items: center;
    margin-right: 40px;
  }
}
