.burgerConstructorContainer {
  margin: 100px 0 0 100px;
}

.containerBorder {
  border: 5px solid #2f2f37;
}

.burgerConstructorItemWrapper {
  height: 837px;
  overflow-y: scroll;
  padding-top: 10px;

  &::-webkit-scrollbar {
    height: 12px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #8585ad;
    border-radius: 6px;
  }
}

.helpText {
  text-align: center;
}

.checkoutBlock {
  display: flex;
  justify-content: end;
  margin: 40px 0;
}

.totalPrice {
  display: flex;
  align-items: center;
  margin-right: 40px;
}
