.orderDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orderTitle {
  text-transform: lowercase;
}

.orderIconWrapper {
  height: 120px;
  width: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 40px 0;

  background-image: url("../../images/orderDetailsIcon/1.png"),
    url("../../images/orderDetailsIcon/2.png"),
    url("../../images/orderDetailsIcon/3.png");
  background-position: center;
  background-repeat: no-repeat;
}

.orderNumber {
  text-shadow: 0 0 100px #3333ff80;
}

.orderStatusMessage {
  color: #1c1c21;
  padding: 15px 0 40px 0;
}
