.burgerConstructorItem {
  display: flex;
  align-items: center;
  margin: 0 25px 25px 0;
  gap: 10px;
  cursor: grab;
}

.burgerConstructorElement {
  width: 435px;
}

.draggingOpacity {
  opacity: 0.5;
}
