.ingredientsBlock {
  display: flex;
  flex-wrap: wrap;
}

.ingredientsBlockItem {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  width: 240px;
  margin: 24px 24px 40px 16px;
  cursor: grab;
}

.ingredientPrice {
  display: flex;
  margin: 4px 0;
}

.ingredientText {
  text-align: center;
}
