.profileBlock {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.navBlock {
  padding-top: 25px;
  margin-bottom: 80px;
}

.link {
  display: flex;
}

.link__active {
  color: white;
}

.profileFormFooter {
  float: right;
}

.ordersSections {
  height: 912px;
  width: 844px;
  overflow-y: auto;
}
