.feed {
  display: flex;
  justify-content: space-between;
}

.ordersSection {
  width: 600px;
  max-height: 965px;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    height: 12px;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #8585ad;
    border-radius: 6px;
  }
}

.statusesWrapper {
  display: flex;
}

.statuses {
  width: 280px;
  margin-right: 32px;
}

.statusesColumns {
  display: flex;
  flex-flow: row wrap;
}

.statusesColumn {
  display: flex;
  flex-flow: column wrap;
  margin: 0 32px 32px 0;
}
