.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.headerLogo {
  margin-right: 167px;
}

.headerItemText {
  vertical-align: top;
}

.navItem {
  color: #8585ad;
  text-decoration: none;
  cursor: pointer;
}

.active {
  color: white;
}
