.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.headerItemText {
  vertical-align: top;
}

.navItem {
  text-decoration: none;
  cursor: pointer;
}

.navItem span {
  color: white;
}
