.burgerIngredientsNavWrapper {
  display: flex;
}

.burgerIngredientsWrapper {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #2f2f37;
  }

  &::-webkit-scrollbar-thumb {
    background: #8585ad;
    border-radius: 6px;
  }
}

.burgerIngredientsBlock {
  display: flex;
  flex-wrap: wrap;
}
