.header {
  height: 88px;
  padding: 16px 320px;
  background: #1c1c21;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerItemText {
  line-height: 24px;
  vertical-align: top;
}
